.header {
  display: flex;
  align-items: center;
  padding: 15px;
  color: #ffffff;
  padding: 0;
  height: 80px;
  border-bottom: 1px solid #d1d2d6;
  justify-content: space-between;
  --width_vsb: calc(100vw - 100%);
  --padright: calc(7.2222vw - (var(--width_vsb)));
  padding: 0 var(--padright) 0 7.2222vw;
  margin-top: var(--width_vsb);
}

.header_invisible {
  visibility: hidden;
}

.header_nothome {
  color: #1a1b22;
}

.header_expanded {
  background: #1a1b22;
}

.header__title {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Roboto Slab 700', Arial, sans-serif;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .header {
    height: 66px;
    --width_vsb: calc(100vw - 100%);
    --padright: calc(5.2083vw - (var(--width_vsb)));
    padding: 0 var(--padright) 0 5.2083vw;
  }
  .header__title {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: auto;
    justify-content: space-between;
    padding: 16px 16px 15px;
    background: #c4c4c403;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .header_nothome {
    border-bottom: 1px solid rgba(209, 210, 214, 1);
  }

  .header__title {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
